*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  align-items: center;
}

header {
  background-color: #fff;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 4em;
  text-wrap: 1;
}

img{
  height: 50px;
  width: auto;
}

nav{
  display: flex;
  justify-content:space-between;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 18px;
  
}

a:hover {
  color: #496BF1;
}

a:active{
  color: #2DD6C1;
}

.btn-blue {
  background-color: #496BF1;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}

.btn-green {
  background-color: #2DD6C1;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
  font-size: 18px;

}

.top-section {
  background-image: url("../images/hero-section-bg.png");
  padding: 50px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 70%;
  max-height: max-content;
}


.top-section h1 {
  color: #496BF1;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px ;
}

.top-section p {
  color: rgba(51, 51, 51, 1); /* Dark gray/black */
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.flex {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap; 
}

/* Styling for Each Box */
.box { 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-evenly;
  max-width: 25%;
  }


/* Image Styling */
.box img {
  max-width: 70px;
  margin-bottom: 20px;
}

/* Heading (h2) Styling */
.box h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333333; 
}

/* Paragraph Styling */
.box p {
  font-size: 1rem;
  line-height: 1.5;
}


/* Flexbox Layout for About Section */
.about {
  background-position: left center;
  background-size: cover;
  display: flex; 
  padding: 60px;
  flex: 1;
}

.abt{
  background-image: url("../images/medical-clinic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: max-content;
  flex: 1;
}

/* Content Styling */
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
  position: relative;
  flex: 1;
}

/* Heading Styling */
.about-content h1 {
  margin-bottom: 15px;
  font-size: 2.2rem;
  padding-left: 30px;
}

/* Paragraph Styling */
.about-content p {
  margin-bottom: 20px;
  line-height: 1.6;
  padding-left: 30px;
  font-size: 20px;
}

/* Button Styling */
.bttn {
  background-color: #496BF1; 
  border-radius: 5px;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  color: #fff; 
  font-size: 18px;
  border: none;
}


.clients{
  text-align: center;
  padding: auto;
  max-width: 900px;
  margin: 10px auto;
  border-radius: 10px;
 
}

.clients h2:first-child{
  font-size: 2.5em;
  margin-bottom: 20px;
}

.clients h2 span{
  color: #496BF1;
}


.clients img:nth-of-type(2){
  width: 10%;
  height: auto;
  align-self: baseline;
}

blockquote {
  font-size: 1.2em;
  margin: 30px 0;
  position: relative;
}

blockquote:before, blockquote:after {
  content: '“';
  font-size: 4em;
  color: #000;
  position: absolute;
}

blockquote:before {
  top: -50px;
  left: -10px;
}

blockquote:after {
  content: '”';
  bottom: -70px;
  right: -20px;
}

cite {
  display: block;
  font-size: 1.2em;
  color: #496BF1;
  margin-top: 20px;
  font-weight: bold;
}

.testimonial-dots {
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #2DD6C1;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
}

.dot.active {
  background-color: #5774f3;
}

.contact-us{
  background-position: center center;
  background-size: cover;
  background-image: url("../images/contact-section-bg.png");
  height: 75vh;
  padding: 10px;
}

.conta h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 2em;
}

span:first-child{
  color: #2DD6C1;
}

span:last-child{
  color:  #496BF1;
}
.contact-us h1::before{
position: absolute;
}

.contact-us form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  text-align: right 10px; 
  max-width: 50vh;
  font-size: 18px;
  
}

.contact-us form input, textarea{
  border: none;
  gap: 1em;
  margin-top: 20px;
  height: 50px;
  text-align: left;
  padding: 10px;
}

.contact-us  textarea{
  height: 100px;
  resize: none;
  text-align: left;
}

footer{
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
}

.footer .log{
  display: flex;
  flex-direction: flex-start; 
  justify-content: space-evenly;
  margin: 10px;

}

footer .social-media{
  flex-direction: column;
  padding-left: 100px;
  margin-left: -37em;
  padding-top: 75px;
}

footer li img{
  height: 25px;
  width: 25px;
  margin-right: 8px;
  align-items: center;
  margin-top: 10px;
}

footer .links, .departments, .com{
  margin: 20px;
  padding: 5px;
  
}
